src/flows.json
[{"id":"5cb2385f.055d38","type":"tab","label":"Analog Inputs LOGO","disabled":false,"info":""},{"id":"d71c4461.b94898","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"626333d4.37b0dc","type":"modbus-client","z":"","name":"Logo1","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.200.3","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"9c8f7654.442708","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#18b6a6","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":20,"gy":20,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7fd97102.eabe3","type":"modbus-client","z":"","name":"Logo2","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.200.4","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"63d7b101.9fb81","type":"ui_tab","z":"","name":"Home","icon":"wb_sunny","order":3,"disabled":false,"hidden":false},{"id":"86a97335.c8d0e","type":"ui_group","z":"","name":"City_Group","tab":"63d7b101.9fb81","order":2,"disp":false,"width":"6","collapse":false},{"id":"b2528eae.a6297","type":"ui_group","z":"","name":"Select a City","tab":"63d7b101.9fb81","order":1,"disp":true,"width":"6","collapse":false},{"id":"e38747af.15b978","type":"ui_group","z":"","name":"LOGO1","tab":"63d7b101.9fb81","order":7,"disp":true,"width":"6","collapse":false},{"id":"a45523eb.5d2f5","type":"ui_group","z":"","name":"LOGO2","tab":"63d7b101.9fb81","order":8,"disp":true,"width":"6","collapse":false},{"id":"2cd0e0d6.d87dc","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.200.2:4840","secpol":"None","secmode":"None","login":false},{"id":"14c82339.86806d","type":"modbus-read","z":"5cb2385f.055d38","name":"Logo1 - AI_1","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"626333d4.37b0dc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":200,"wires":[["888871ee.912dc","92afae77.f6342"],[]]},{"id":"e0c23ef7.c91fd","type":"modbus-read","z":"5cb2385f.055d38","name":"Logo1 - AI_2","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"InputRegister","adr":"1","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"626333d4.37b0dc","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":850,"y":200,"wires":[["f90f75dd.8a38a8","45dfe7a1.ad3688"],[]]},{"id":"888871ee.912dc","type":"ui_gauge","z":"5cb2385f.055d38","name":"","group":"e38747af.15b978","order":0,"width":0,"height":0,"gtype":"gage","title":"Analog Input 1","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":140,"wires":[]},{"id":"f90f75dd.8a38a8","type":"ui_gauge","z":"5cb2385f.055d38","name":"","group":"e38747af.15b978","order":0,"width":0,"height":0,"gtype":"gage","title":"Analog Input 2","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1080,"y":140,"wires":[]},{"id":"6e65eef.bbdde1","type":"openweathermap","z":"d71c4461.b94898","name":"Openweather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":580,"y":660,"wires":[["a313a8ba.52e548","8ef6af95.ea20b","388458a3.1e5628","4ec0c1f2.161b2","59ed225f.f9134c"]]},{"id":"a313a8ba.52e548","type":"function","z":"d71c4461.b94898","name":"Detail","func":"msg.payload = msg.payload.detail;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":580,"wires":[["e759ae85.70ba5"]]},{"id":"e759ae85.70ba5","type":"ui_text","z":"d71c4461.b94898","group":"86a97335.c8d0e","order":2,"width":0,"height":0,"name":"","label":"Weather","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":580,"wires":[]},{"id":"8ef6af95.ea20b","type":"function","z":"d71c4461.b94898","name":"Temperature","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":620,"wires":[["14ca2a08.baba26","5eeb2dd4.438d04","680d7f91.2f9d5","510038e8.c43a88"]]},{"id":"388458a3.1e5628","type":"function","z":"d71c4461.b94898","name":"Humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":660,"wires":[["4711da15.26d7d4"]]},{"id":"4ec0c1f2.161b2","type":"function","z":"d71c4461.b94898","name":"Pressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":700,"wires":[["8d942fbd.12587","feadd735.d2ac88","52244f89.b7347"]]},{"id":"59ed225f.f9134c","type":"function","z":"d71c4461.b94898","name":"Location","func":"msg.payload = msg.payload.location;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":740,"wires":[["3aae65e1.1d3bea"]]},{"id":"14ca2a08.baba26","type":"ui_gauge","z":"d71c4461.b94898","name":"","group":"86a97335.c8d0e","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}°C","min":"-10","max":"40","colors":["#01e4fe","#ff9900","#ff0000"],"seg1":"15","seg2":"25","x":1030,"y":620,"wires":[]},{"id":"4711da15.26d7d4","type":"ui_gauge","z":"d71c4461.b94898","name":"","group":"86a97335.c8d0e","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#ff8040","#008080","#0000ff"],"seg1":"","seg2":"","x":1020,"y":660,"wires":[]},{"id":"8d942fbd.12587","type":"ui_gauge","z":"d71c4461.b94898","name":"","group":"86a97335.c8d0e","order":5,"width":0,"height":0,"gtype":"gage","title":"Air pressure","label":"hPa","format":"{{value | number:0}}","min":"920","max":"1080","colors":["#8deafe","#23c406","#ff0000"],"seg1":"1013","seg2":"1030","x":1030,"y":700,"wires":[]},{"id":"3aae65e1.1d3bea","type":"ui_text","z":"d71c4461.b94898","group":"86a97335.c8d0e","order":1,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":740,"wires":[]},{"id":"5eeb2dd4.438d04","type":"modbus-write","z":"d71c4461.b94898","name":"Logo 1 Temp","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"626333d4.37b0dc","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1030,"y":260,"wires":[[],[]]},{"id":"feadd735.d2ac88","type":"modbus-write","z":"d71c4461.b94898","name":"Logo 1 Press","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"626333d4.37b0dc","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1030,"y":860,"wires":[[],[]]},{"id":"680d7f91.2f9d5","type":"modbus-write","z":"d71c4461.b94898","name":"Logo 2 Temp","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"7fd97102.eabe3","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1030,"y":320,"wires":[[],[]]},{"id":"52244f89.b7347","type":"modbus-write","z":"d71c4461.b94898","name":"Logo 2 Press","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"7fd97102.eabe3","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1030,"y":920,"wires":[[],[]]},{"id":"f8475b84.e4a5d8","type":"modbus-read","z":"5cb2385f.055d38","name":"Logo2- AI_1","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7fd97102.eabe3","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":110,"y":600,"wires":[["ffacc9b9.b94eb8","8b6bf2f1.86b79"],[]]},{"id":"a230f011.05313","type":"modbus-read","z":"5cb2385f.055d38","name":"Logo2 - AI_2","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"InputRegister","adr":"1","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7fd97102.eabe3","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":850,"y":600,"wires":[["bb00d0bd.19e04","f0bab055.6f902"],[]]},{"id":"ffacc9b9.b94eb8","type":"ui_gauge","z":"5cb2385f.055d38","name":"","group":"a45523eb.5d2f5","order":0,"width":0,"height":0,"gtype":"gage","title":"Analog Input 1","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":540,"wires":[]},{"id":"bb00d0bd.19e04","type":"ui_gauge","z":"5cb2385f.055d38","name":"","group":"a45523eb.5d2f5","order":0,"width":0,"height":0,"gtype":"gage","title":"Analog Input 2","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":540,"wires":[]},{"id":"4785b27.b120a4c","type":"ui_button","z":"d71c4461.b94898","name":"","group":"b2528eae.a6297","order":0,"width":0,"height":0,"passthru":false,"label":"New York","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":120,"y":580,"wires":[["58208010.18c03"]]},{"id":"954c01b6.5f5c7","type":"ui_button","z":"d71c4461.b94898","name":"","group":"b2528eae.a6297","order":0,"width":0,"height":0,"passthru":false,"label":"Sao Paulo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":130,"y":620,"wires":[["f87672cf.69927"]]},{"id":"41d3c1a2.8dd35","type":"ui_button","z":"d71c4461.b94898","name":"","group":"b2528eae.a6297","order":0,"width":0,"height":0,"passthru":false,"label":"Timbuktu","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":120,"y":660,"wires":[["59b5edf4.6ce854"]]},{"id":"413c472c.069e78","type":"ui_button","z":"d71c4461.b94898","name":"","group":"b2528eae.a6297","order":0,"width":0,"height":0,"passthru":false,"label":"Corby","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":110,"y":700,"wires":[["549d8beb.67eab4"]]},{"id":"d2de4ba4.90bc48","type":"ui_button","z":"d71c4461.b94898","name":"","group":"b2528eae.a6297","order":0,"width":0,"height":0,"passthru":false,"label":"Paris","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":110,"y":740,"wires":[["71973cfa.0d2184"]]},{"id":"fc3066e4.cf4828","type":"comment","z":"d71c4461.b94898","name":"Writing to PLC via OPCUA","info":"","x":1070,"y":400,"wires":[]},{"id":"987f66f0.0b3358","type":"comment","z":"d71c4461.b94898","name":"Writing to LOGO via Modbus TCP","info":"","x":1090,"y":220,"wires":[]},{"id":"c7e7b947.892ed8","type":"comment","z":"d71c4461.b94898","name":"Writing to LOGO via Modbus TCP","info":"","x":1090,"y":820,"wires":[]},{"id":"58208010.18c03","type":"change","z":"d71c4461.b94898","name":"New York","rules":[{"t":"set","p":"location.country","pt":"msg","to":"US","tot":"str"},{"t":"set","p":"location.city","pt":"msg","to":"New York","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":540,"wires":[["6e65eef.bbdde1"]]},{"id":"f87672cf.69927","type":"change","z":"d71c4461.b94898","name":"Sao Paulo","rules":[{"t":"set","p":"location.country","pt":"msg","to":"BR","tot":"str"},{"t":"set","p":"location.city","pt":"msg","to":"Sao Paulo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["6e65eef.bbdde1"]]},{"id":"59b5edf4.6ce854","type":"change","z":"d71c4461.b94898","name":"Timbuktu","rules":[{"t":"set","p":"location.country","pt":"msg","to":"Mali","tot":"str"},{"t":"set","p":"location.city","pt":"msg","to":"Timbuktu","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":660,"wires":[["6e65eef.bbdde1"]]},{"id":"549d8beb.67eab4","type":"change","z":"d71c4461.b94898","name":"Corby","rules":[{"t":"set","p":"location.country","pt":"msg","to":"GB","tot":"str"},{"t":"set","p":"location.city","pt":"msg","to":"Corby","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":720,"wires":[["6e65eef.bbdde1"]]},{"id":"71973cfa.0d2184","type":"change","z":"d71c4461.b94898","name":"Paris","rules":[{"t":"set","p":"location.country","pt":"msg","to":"FR","tot":"str"},{"t":"set","p":"location.city","pt":"msg","to":"Paris","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":780,"wires":[["6e65eef.bbdde1"]]},{"id":"510038e8.c43a88","type":"OpcUa-Item","z":"d71c4461.b94898","item":"ns=3;s=\"DataBlockCloud\".\"WeatherTemperature\"","datatype":"Float","value":"","name":"","x":1040,"y":440,"wires":[["dc8a01f8.5da16"]]},{"id":"dc8a01f8.5da16","type":"OpcUa-Client","z":"d71c4461.b94898","endpoint":"2cd0e0d6.d87dc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","name":"Write","x":1210,"y":440,"wires":[[]]},{"id":"92afae77.f6342","type":"OpcUa-Item","z":"5cb2385f.055d38","item":"ns=3;s=\"DataBlockLogo\".\"Ai1Logo1\"","datatype":"Float","value":"","name":"","x":340,"y":260,"wires":[["de031f16.bd002"]]},{"id":"de031f16.bd002","type":"OpcUa-Client","z":"5cb2385f.055d38","endpoint":"2cd0e0d6.d87dc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"Write","x":490,"y":260,"wires":[[]]},{"id":"45dfe7a1.ad3688","type":"OpcUa-Item","z":"5cb2385f.055d38","item":"ns=3;s=\"DataBlockLogo\".\"Ai2Logo1\"","datatype":"Float","value":"","name":"","x":1080,"y":260,"wires":[["b63d7d4d.22354"]]},{"id":"b63d7d4d.22354","type":"OpcUa-Client","z":"5cb2385f.055d38","endpoint":"2cd0e0d6.d87dc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"Write","x":1230,"y":260,"wires":[[]]},{"id":"8b6bf2f1.86b79","type":"OpcUa-Item","z":"5cb2385f.055d38","item":"ns=3;s=\"DataBlockLogo\".\"Ai1Logo2\"","datatype":"Float","value":"","name":"","x":340,"y":660,"wires":[["51610ad9.1dd6c4"]]},{"id":"51610ad9.1dd6c4","type":"OpcUa-Client","z":"5cb2385f.055d38","endpoint":"2cd0e0d6.d87dc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"Write","x":490,"y":660,"wires":[[]]},{"id":"f0bab055.6f902","type":"OpcUa-Item","z":"5cb2385f.055d38","item":"ns=3;s=\"DataBlockLogo\".\"Ai2Logo2\"","datatype":"Float","value":"","name":"","x":1100,"y":660,"wires":[["50e415e3.2f1b5c"]]},{"id":"50e415e3.2f1b5c","type":"OpcUa-Client","z":"5cb2385f.055d38","endpoint":"2cd0e0d6.d87dc","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","name":"Write","x":1270,"y":660,"wires":[[]]},{"id":"ea54428e.f6ba4","type":"comment","z":"d71c4461.b94898","name":"Select City in Dashboard","info":"","x":110,"y":540,"wires":[]},{"id":"17e40984.1344f6","type":"comment","z":"d71c4461.b94898","name":"Provide City to OWM node","info":"","x":350,"y":500,"wires":[]},{"id":"87ef85ba.e24608","type":"comment","z":"d71c4461.b94898","name":"Use API to gather weather data","info":"","x":590,"y":600,"wires":[]},{"id":"d3959005.56212","type":"comment","z":"d71c4461.b94898","name":"Separate data ","info":"","x":830,"y":540,"wires":[]},{"id":"8c39661e.5794b8","type":"comment","z":"d71c4461.b94898","name":"Provide data to dashboard","info":"","x":1070,"y":540,"wires":[]},{"id":"2d7687a4.5ddca8","type":"comment","z":"5cb2385f.055d38","name":"Read AI1 via Modbus","info":"","x":100,"y":160,"wires":[]},{"id":"641ce2a.03c561c","type":"comment","z":"5cb2385f.055d38","name":"Read AI2 via Modbus","info":"","x":840,"y":160,"wires":[]},{"id":"fabcdba4.5e0768","type":"comment","z":"5cb2385f.055d38","name":"Read AI2 via Modbus","info":"","x":860,"y":560,"wires":[]},{"id":"4baef76e.e86588","type":"comment","z":"5cb2385f.055d38","name":"Read AI1 via Modbus","info":"","x":100,"y":560,"wires":[]},{"id":"eb5d96b4.b46828","type":"comment","z":"5cb2385f.055d38","name":"Provide to dashboard","info":"","x":360,"y":100,"wires":[]},{"id":"390d6d5d.d2f6e2","type":"comment","z":"5cb2385f.055d38","name":"Provide to dashboard","info":"","x":1100,"y":100,"wires":[]},{"id":"b54a2fff.0869c","type":"comment","z":"5cb2385f.055d38","name":"Provide to dashboard","info":"","x":360,"y":500,"wires":[]},{"id":"6276b1dd.00f43","type":"comment","z":"5cb2385f.055d38","name":"Provide to dashboard","info":"","x":1120,"y":500,"wires":[]},{"id":"db1a6618.720d08","type":"comment","z":"5cb2385f.055d38","name":"Write to S7-1500 via OPC UA","info":"","x":380,"y":220,"wires":[]},{"id":"d281e567.7e0278","type":"comment","z":"5cb2385f.055d38","name":"Write to S7-1500 via OPC UA","info":"","x":1120,"y":220,"wires":[]},{"id":"7ee756e5.95de78","type":"comment","z":"5cb2385f.055d38","name":"Write to S7-1500 via OPC UA","info":"","x":380,"y":620,"wires":[]},{"id":"ab850410.1c3e38","type":"comment","z":"5cb2385f.055d38","name":"Write to S7-1500 via OPC UA","info":"","x":1140,"y":620,"wires":[]}]